#nav-avatar {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 1em auto;
}

.nav-bar-item {
    font-size: 150%;
}
